body{
    background-color: hsl(212, 45%, 89%);
}

center{
    width: 300px;
    margin-left: 36%;
    background-color: hsl(0, 0%, 100%);
    border-radius: 20px 20px;
    position:absolute;
    top: 200px;
}
img{
    top: 10px;
    position: relative;
    border-radius: 10px; 
    width: 270px;
    margin-bottom: 20px;
}
.footer{
    font-size: 15px;
    color: hsl(216, 15%, 48%);
    padding-left: 10px;
    padding-right: 10px;
    font-family: calibri;
}
#title{
    font-size: large;
    font-family: 'Gill Sans', 'Gill Sans MT','Trebuchet MS', sans-serif;
    color: hsl(218, 44%, 22%);
}
