body{
    background-color: hsl(212, 45%, 89%);
}

main{
    width: 300px;
    margin-right: 50%;
    margin-left: 41%;
    background-color: hsl(0, 0%, 100%);
    border-radius: 20px 20px;
    position:absolute;
    top: 170px;
}
img{
    top: 10px;
    position: relative;
    left:16px;
    border-radius: 10px; 
    width: 270px;
    margin-bottom: 20px;
}
p{
    margin: 20px;
    position: relative;
    text-align: center;
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}
h1{
    text-align: center;
    margin-left: 18px;
    margin-right: 18px;
    font-weight: 700;
    font-size: 20px;
}
